{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Covid-19 lookup!</h1>
  <p class="lead">Covid-19 details all over India!</p>
</div>
<br/>

<!-- 
<table class="table table-striped table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">S. No. </th>
      <th scope="col">State </th>
      <th scope="col">Confirmed Indian </th>   
      <th scope="col">Confirmed Foreign </th>
      <th scope="col">Cured </th>
      <th scope="col">Deaths </th>

    </tr>
  </thead>
  <tbody>
{% for value in covid_ind %}

  
    <tr>
      <td>{{ key }}</td>
      <td>{{ value.id }}</td>
      <td>{{ value.place }}</td>
      <td>{{ value.confirmed_indian }}</td>
      <td>{{ value.confirmed_foreign }}</td>
      <td>{{ value.cured }}</td>
      <td>{{ value.deaths }}</td>

{% endfor %}

  </tbody>
</table>  -->

{% endblock %}
